{% extends 'accueil/sqlt.html' %}
{% block body %}
<div class="container-fluid">
  <div class="text-center">
    <div class="text-center">
      <h4><a href="Nouveau AscaPost"></a></h4>
      <form class="site-form" action="/monActivite/Nouveau_Ascapost/" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{form.errors}}
          {{form.titre.errors}}
          <label for="id_titre">Titre de l'Ascapost</label>
          {{form.titre}}
          <small class="form-text text-muted">Possibilité de mettre des remarques sous chaque entrée</small>
        </div>
        <div class="form-group">
          {{form.image.errors}}
          <label for="id_image">Image de l'Ascapost</label>
          {{form.image}}
        </div>
        <div class="form-group">
          {{form.description_courte.errors}}
          <label for="id_description_courte">Description courte de l'Ascapost</label>
          {{form.description_courte}}
        </div>
        <div class="form-group">
          {{form.description_longue.errors}}
          <label for="id_description_longue">Description longue de l'Ascapost</label>
          {{form.description_longue}}
        </div>
        {% re}
        <button type="submit" class="btn btn-primary">Publier</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
